body {
  background-color: #0e1117;
  color: #fafafa;
}
.stApp {
  background-color: #0e1117;
}

.stButton button {
  background-color: #ff4b4b;
  color: white;
}
.stSelectbox [data-baseweb="select"] {
  width: 700px;
}
.stSelectbox label {
  display: block;
  width: 700px;
  text-align: center;
}
.stSelectbox [data-baseweb="select"] > div > div > div:first-child {
  display: block;
  width: 100%;
  text-align: center;
  padding-left: 32px;
}
[data-testid="stVirtualDropdown"] li {
  text-align: center;
}
.footer {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: silver;
}
